<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <style>
    body{
        margin:20px
        padding: 25px;
        background-color:lightblue;
    }
    .heading{
        text-align:center
    }
    #para{
        margin left: 40px;
        margin right: 40px;
    }
    </style>
</head>
<body>

<h1 class='heading'>Cover Letter</h1>
<h1 class='heading'>{{name|upper}}</h1>
<h3>
    {{name|upper}} <br>
    {{email}} <br>
    {{phone}}

</h3>



<p id = "para" style="font-size:20px">
Dear Sir/Madam,

I am writing this letter to you to apply for the position of {{desired_position|upper}} in your company {{company_name|upper}}. I came across the position via {{job_portal_name}} and wanted to apply for the same.

I have a degree in {{degree}}. I have learned valuable skills that appear relevant to the position desired by your company.

I have learned that I enjoy working in this field and that I can prove to be a valuable asset with my present skill set. I enjoy working with like-minded people, and I am a team player. The challenges that the {{desired_position|upper}} offers is big, and I am sure that with an expert team I can take these challenges head-on.

Thank you for your time and for considering me as a candidate. I have mentioned my contact number {{phone}} and email id {{email}} and will send a follow-up email next week if further information is required.

Yours sincerely,
{{name}} 

</p>
</body>
</html>